{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'about/style.css' %}">
    <title>Alex</title>
</head>
<body>
    <div class="content-container">
        <div class="w3-half w3-blue-grey w3-container">
            <div class="w3-padding-64 w3-center">
                <h1>Alexander del Rio</h1>
                <img src="{% static 'about/images/alex.jpg' %}" class="w3-margin w3-circle" alt="Profile Image" style="width:300px; height:300px;">
                <div class="w3-left-align w3-padding-large">
                    <p>Hi, I'm Alex, and I'm the Backend lead for Team 2. <br> I enjoy leraning about systems on a low level and working on optimization problems. This is my last semester at SFSU and I'm excited to learn new skills in the real world.</p>
                    <p>Hobbies: I spend most of my free time playing video games or playing with my cats.
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-16">
        <p>CSC 648 Fall 2023 Team 02</p>
    </footer>
</body>
</html>