<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <title>About Me</title>
</head>
<body>
    <div class="content-container">
        <div class="w3-half w3-blue-grey w3-container">
            <div class="w3-padding-64 w3-center">
                <h1>Pragati Makani</h1>
                <img src="https://img.freepik.com/free-vector/cute-girl-gaming-holding-joystick-with-hand-peace-cartoon-icon-illustration-people-technology-icon-concept-isolated-flat-cartoon-style_138676-2168.jpg?w=1380&t=st=1694558154~exp=1694558754~hmac=511cf9b7c275e1189dbbb593f69fde8ebcd29d284e7148a7b7bcc327df86d354" class="w3-margin w3-circle" alt="Profile Image" style="width:300px; height:300px;">
                <div class="w3-left-align w3-padding-large">
                    <p>I currently serve as a Team Lead for Team 2. <br> I'm someone who appreciates a friendly and collaborative atmosphere, and I've had the opportunity to lead teams in the past. My approach is grounded and practical, and I aim to keep things straightforward.</p>
                    <p>Fun Fact: I was a state-level basketball player for about 6 years
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-16">
        <p>CSC 648 Fall 2023 Team 02</p>
    </footer>
</body>
</html>
