.DMResults {
  padding-left: 0 !important;
}

.DMPosters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 75px);
  height: 850px;
  padding-left: 45px;
  row-gap: 140px;
}

.DMPoster {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  width: 120px;
  height: 175px;
  border-radius: 5px;
}

.DMPoster h3 {
  font-family: 'Manrope', sans-serif;
}


.ButtonPlace {
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.ButtonPlace.selected {
  color: #E11708;
  font-size: 25px;
}

.ButtonPlaceWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
