.UserInformation {
    display: flex;
    margin: 1rem 2rem 0.5rem;
    padding: 0 3rem 0 1rem;
    color: white;
    font-family: 'Manrope', sans-serif;
}

.UserPic {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.UserText {
    margin-top: 20px;
    margin-left: 20px;
    flex-grow: 1;
}

.UserTextInfo {
    margin: 0;
}

.Username {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}

.BioDesc {
    opacity: 50%;
    font-weight: 10;
    margin: 0;
}

.UserExtra {
    display: flex;
    text-align: center;
    align-self: center;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
}

.UserExtraInfo {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 3px solid white;
}

.UserExtraR {
    border: none;
}