{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'about/style.css' %}">
    <title>About Us</title>
</head>
<body id="about">
    <header>
        <h2 id="gradient-text">ABOUT US</h2>
    </header>

    <div class="table">
        <div class="owners">
            <a href="{% url 'pragati.html' %}" class="owner">
                <div class="container">
                    <h3 class="name"> Pragati Makani</h3>
                    <p class="position">Team Leader</p>
                </div>
            </a>
            <a href="{% url 'christian.html' %}" class="owner">
                <div class="container">
                    <h3 class="name"> Christian Montalvo</h3>
                    <p class="position">GitHub Master</p>
                </div>
            </a>
            <a href="{% url 'alex.html' %}" class="owner">
                <div class="container">
                    <h3 class="name"> Alexander del Rio</h3>
                    <p class="position">Backend Lead</p>
                </div>
            </a>
            <a href="{% url 'sarah.html' %}" class="owner">
                <div class="container">
                    <h3 class="name"> Sarah Abusaif</h3>
                    <p class="position">Frontend Lead</p>
                </div>
            </a>
            <a href="{% url 'mohammad.html' %}" class="owner">
                <div class="container">
                    <h3 class="name"> Mohammad Dahbour</h3>
                    <p class="position">Scrum Master</p>
                </div>
            </a>
        </div>
    </div>

    <footer class="w3-container w3-black w3-padding-16">
        <p class="end">CSC 648 Fall 2023 Team 02</p>
    </footer>
</body>
</html>