.DisplayUserResults {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    color: white;
    margin-bottom: 40px;
}

.UserResults {
    width: 250px;
}

.DisplayResults {
    margin: 10px 0;
    padding: 5px 15px;
    border: 1px solid #E11708;
    border-radius: 40px;
    
    background: linear-gradient(to right, #E11708 1%, transparent 25%);
    /*background: url('../../images/user_image.png') no-repeat;
    background-size: contain;*/
}

.DisplayUserPic {
    width: 60px !important;
    height: 60px !important;
}

.DisplayPosterTitle {
    font-size: 25px;
    font-weight: 500;
    margin: 17px 0;
}

.DisplayBio {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    opacity: 80%;
    
    /*justify-self: flex-start;*/
}

.DisplayBioContainer {
    display: flex;
    align-items: center;

    width: 200px;

    justify-content: center;
    /*padding-left: 90px;
    justify-content: flex-start;*/
}

.DisplayOuter {
    width: 85%;
    height: 466.67px;
    margin-top: 10px;
}

.DisplayButtonPlaceWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.DisplayButtonPlace {
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.DisplayButtonPlace.selected {
    color: #E11708;
    font-size: 25px;
}
  