.year-selection .frame {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    position: relative;
    width: 130px;
  }
  
  .year-selection .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 25px;
    position: relative;
  }
  
  .year-selection .div-2 {
    color: #000000;
    font-family: "Catamaran-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .year-selection .polygon {
    height: 15.27px;
    margin-right: -1.13px;
    position: relative;
    width: 23.26px;
  }
  
  .year-selection .frame-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    position: absolute;
  }
  
  .year-selection .frame-wrapper {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 0;
    width: 189px;
  }
  
  .year-selection .div-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 50px;
    margin-bottom: -0.5px;
    margin-top: -0.5px;
    position: relative;
  }
  
  .year-selection .frame-3 {
    align-items: center;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 48px;
  }
  
  .year-selection .frame-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 50px;
    position: relative;
  }
  
  .year-selection .frame-5 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 97px;
    width: 189px;
  }
  
  .year-selection .frame-6 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 50px;
    margin-bottom: -2.5px;
    margin-top: -2.5px;
    position: relative;
  }
  
  .year-selection .frame-7 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 413px;
    width: 189px;
  }
  
  .year-selection .frame-8 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 461px;
    width: 189px;
  }
  
  .year-selection .frame-9 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 505px;
    width: 189px;
  }
  
  .year-selection .frame-10 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 277px;
    width: 189px;
  }
  
  .year-selection .frame-11 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 325px;
    width: 189px;
  }
  
  .year-selection .frame-12 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 369px;
    width: 189px;
  }
  
  .year-selection .frame-13 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    width: 189px;
  }
  
  .year-selection .overlap-group {
    height: 88px;
    left: 0;
    position: absolute;
    top: 189px;
    width: 189px;
  }
  
  .year-selection .frame-14 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 0;
    width: 189px;
  }
  
  .year-selection .frame-15 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 44px;
    width: 189px;
  }
  
  .year-selection .frame-16 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 461px;
    width: 189px;
  }
  
  .year-selection .frame-17 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 505px;
    width: 189px;
  }
  
  .year-selection .frame-18 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 277px;
    width: 189px;
  }
  
  .year-selection .frame-19 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 325px;
    width: 189px;
  }
  
  .year-selection .frame-20 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 369px;
    width: 189px;
  }
  
  .year-selection .frame-21 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 141px;
    width: 189px;
  }
  
  .year-selection .frame-22 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 189px;
    width: 189px;
  }
  
  .year-selection .frame-23 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 233px;
    width: 189px;
  }
  
  .year-selection .frame-24 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    left: 0;
    position: absolute;
  }
  
  .year-selection .frame-25 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 0;
    width: 189px;
  }
  
  .year-selection .frame-26 {
    align-items: center;
    border-radius: 12px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 48px;
  }
  
  .year-selection .frame-27 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 97px;
    width: 189px;
  }
  
  .year-selection .frame-28 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 413px;
    width: 189px;
  }
  
  .year-selection .frame-29 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 461px;
    width: 189px;
  }
  
  .year-selection .frame-30 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 505px;
    width: 189px;
  }
  
  .year-selection .frame-31 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 277px;
    width: 189px;
  }
  
  .year-selection .frame-32 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 325px;
    width: 189px;
  }
  
  .year-selection .frame-33 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 369px;
    width: 189px;
  }
  
  .year-selection .frame-34 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 141px;
    width: 189px;
  }
  
  .year-selection .frame-35 {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 44px;
    justify-content: center;
    left: 0;
    padding: 5px 40px;
    position: absolute;
    top: 189px;
    width: 189px;
  }
  
  .year-selection.variant-8 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-10 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-11 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-2 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-4 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-9 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-3 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-14 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-5 {
    height: 608px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-6 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-13 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-12 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.variant-7 {
    height: 607px;
    position: relative;
    width: 189px;
  }
  
  .year-selection.default {
    height: 49px;
    width: 130px;
  }
  
  .year-selection.variant-8 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-10 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-11 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-2 .frame-2 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    left: 0;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-4 .frame-2 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    left: 0;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-9 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-3 .frame-2 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    left: 0;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-14 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-5 .frame-2 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    left: 6px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-6 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-13 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-12 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-7 .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.default .frame-2 {
    border-radius: 14px;
    height: 549px;
    left: 0;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-12 .frame-7 {
    background-color: #79797940;
  }
  
  .year-selection.variant-13 .frame-8 {
    background-color: #79797940;
  }
  
  .year-selection.variant-14 .frame-9 {
    background-color: #79797940;
  }
  
  .year-selection.variant-9 .frame-10 {
    background-color: #79797940;
  }
  
  .year-selection.variant-10 .frame-11 {
    background-color: #79797940;
  }
  
  .year-selection.variant-11 .frame-12 {
    background-color: #79797940;
  }
  
  .year-selection.variant-8 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-10 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-11 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-2 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-4 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-9 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-3 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-14 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-5 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-6 .frame-13 {
    top: 413px;
  }
  
  .year-selection.variant-13 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-12 .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-7 .frame-13 {
    top: 413px;
  }
  
  .year-selection.default .frame-13 {
    top: 141px;
  }
  
  .year-selection.variant-8 .frame-15 {
    background-color: #79797940;
  }
  
  .year-selection.variant-6 .frame-21 {
    background-color: #79797940;
  }
  
  .year-selection.variant-7 .frame-22 {
    background-color: #79797940;
  }
  
  .year-selection.variant-8 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-10 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-11 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-2 .frame-24 {
    border-radius: 14px;
    height: 549px;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-4 .frame-24 {
    border-radius: 14px;
    height: 549px;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-9 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-3 .frame-24 {
    border-radius: 14px;
    height: 549px;
    top: 58px;
    width: 189px;
  }
  
  .year-selection.variant-14 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-5 .frame-24 {
    border-radius: 14px;
    height: 549px;
    top: 59px;
    width: 189px;
  }
  
  .year-selection.variant-6 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-13 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-12 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-7 .frame-24 {
    align-items: flex-start;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 49px;
    padding: 5px 6px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.default .frame-24 {
    border-radius: 12px;
    height: 49px;
    top: 0;
    width: 130px;
  }
  
  .year-selection.variant-3 .frame-25 {
    background-color: #79797940;
  }
  
  .year-selection.variant-4 .frame-26 {
    background-color: #79797940;
  }
  
  .year-selection.variant-5 .frame-27 {
    background-color: #79797940;
  }