.container {
    cursor: pointer;
    display: flex;
    width: fit-content;
    margin-bottom: 3px;
}
  
.container input {
    display: none;
  }
  
.container svg {
    overflow: visible;
}
  
.CheckType {
    padding-left: 10px;
    margin: 0;
    font-size: 15px;
}

.path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
.path.checked {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}
  