.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    }
    
    
    .footer span {
    color: white;
    background: none;
    }
    