.side-menu-slide {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    font-size: 18px; /* Larger text */
}
    
    
.side-menu-slide.menu-open {
    transform: translateX(0); /* Pulls the menu back into the viewport */
}

    
.side-menu-slide h2 {
    margin-bottom: 20px; /* Space between "Menu" and the list */
    border-bottom: 2px solid white; /* Horizontal line below "Menu" */
    padding-bottom: 10px; /* Space between "Menu" text and the line */
    background: none;
}
    
    
.side-menu-slide ul {
    list-style-type: none;
    padding: 0;
    background: none;
}
    
    
.side-menu-slide li {
    display: flex; /* To align icon and text */
    align-items: center; /* Vertically center align icon and text */
    padding: 15px 0; /* More spacing */
    cursor: pointer;
    background: none;
}
    
    
.side-menu-slide li:before {
    content: "•"; /* Circle icon before each list item */
    margin-right: 20px; /* Spacing between the icon and text */
    font-size: 24px; /* Larger icon */
}
    
    
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}