.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;  /* Hide any overflowing content */
}

.slides {
    display: flex;  /* Line up images horizontally */
    transition: transform 0.3s ease;
}

.slide {
    width: 200px; /* Set your desired width */
    height: 300px; /* Set your desired height */
    object-fit: cover; /* This will cover the area without stretching the image */
    flex: none;  /* Prevent flex items from stretching */
    border-radius: 50px;
    user-select: none; /* Prevent selection */
    pointer-events: none; /* No mouse events on the slide */
}
