.MovieUserRate {
    align-self: center;
    font-size: 18px;
    padding-left: 5px;
    text-decoration: underline 2px;
    cursor: pointer;
}

.RatingModal {
    width: 400px;   /* Set the desired width */
    height: 300px;  /* Set the desired height */
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    inset: 150px;
    background: #191919;
    border: 2px solid #E11708;
    overflow: auto;
    outline: none;
    padding: 20px;
    color: white;
}

.RatingPopUp {
    display: flex;
    flex-direction: column;
}

.CloseRatingSymbol {
    align-self: flex-end;
    cursor: pointer;
}

.RatingStarQuestion {
    align-self: center;
    text-align: center;
    position: relative;
}

.QuestionMark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    margin-top: 5px;
}

.RatingTitle {
    text-align: center;
    margin-bottom: 10px;
}

.RatingStarChoice {
    display: flex;
    align-self: center;
    gap: 6px;
}

.RatingButton {
    align-self: center;
    width: fit-content;
    padding: 4px 30px;
    font-size: 20px;
    margin-top: 25px;
}

.RatingStar {
    cursor: pointer;
}