/* Import react-slick styles */
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
  }
  
  button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #000; 
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #000000;
  }
  
  img {
    max-width: 100%; 
    max-height: 100%;
    display: block;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .movie-showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding-bottom: 50px;
  }
  
  .header-section, .title-section, .heading-section {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
  }
  
  .view-movies-btn, .view-feed-btn, .view-list-btn {
    background-color: red;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
  }

  .feed-showcase-container, .list-showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding-bottom: 50px;
    padding-top: 50px;
  }

